# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
get_match_wins/get_match_wins

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

